<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about-styles.css">
</head>
<body>
    <div class="app-bar">
        <div class="app-bar-text">Incident Detection System</div>
        <ul class="nav-bar">
           <a href="/home" class="nav-link">Home</a>
            <li><a href="/about" class="nav-link">About</a></li>
            <a href="/detection" class="nav-link">Detection</a>
            <li><a href="/tech" class="nav-link">Tech Stacks</a></li>
            <li><a href="/log" class="nav-link">Logout</a><li>
        </ul>
    </div>
    <div class="about-container">
        <h1>About Our Project</h1>
        <p>Our project focuses on real-time incident detection using CCTV feeds to enhance public safety and security. We aim to develop an intelligent system capable of identifying suspicious activities like crimes, accidents, and emergencies, providing timely alerts to authorities for swift response. Leveraging advanced computer vision technologies including TensorFlow, Keras, and OpenCV, our system targets law enforcement agencies, emergency responders, city planners, and communities, enabling proactive monitoring and optimized resource allocation. Real-time incident detection is crucial in reducing response times, preventing escalation, optimizing resource allocation, and enhancing situational awareness, ultimately creating safer environments and fostering collaborative approaches to public safety.</p>
    </div>
</body>
</html>