<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection Page</title>
    <link rel="stylesheet" href="/static/css/detection-styles.css">
</head>
<body>
    <div class="app-bar">
        <div class="app-bar-text">Incident Detection System</div>
        <ul class="nav-bar">
           <a href="/home" class="nav-link">Home</a>
            <li><a href="/about" class="nav-link">About</a></li>
            <a href="/detection" class="nav-link">Detection</a>
            <li><a href="/tech" class="nav-link">Tech Stacks</a></li>
            <li><a href="/log" class="nav-link">Logout</a><li>
        </ul>
    </div>
    <div class="background-image">
        <div class="button-container">
            <div class="button-box">
                <img src="/static/css/6099140.jpg" alt="Small Image 1" class="small-image">
                <a href="/upload" class="section-button" id="accident-detection-button">Explosion Detection</a>
            </div>
            <div class="button-box">
                <img src="/static/css/2207.i109.028.S.m004.c13.security service isometric.jpg" alt="Small Image 2" class="small-image">
                <a href="/upload" class="section-button" id="accident-detection-button">Crime Detection</a>
            </div>
            <div class="button-box">
                <img src="/static/css/6461675.jpg" alt="Small Image 3" class="small-image">
                <a href="/upload" class="section-button" id="accident-detection-button">Accident Detection</a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>